
<h2 class="leading-tight mt-12 h2-fontsize-responsive text-center font-lucida">LA ciberseguretat i la intel·ligència artificial (IA)</h2>


<div class="flex flex-col gap-4 my-4 sm:flex-row">
  <div class="font-base my-4 sm:my-0"><blockquote lang="en-GB">"The good news is that we use <abbr title="Artificial intelligence">AI</abbr> to detect malware. The bad news is that criminals also use it"</blockquote></div>
  <p>Aquesta frase d'Eugene Kaspersky reflexa els reptes i oportunitats que la intel·ligència artificial presenta per a la ciberseguretat, un tema central de les nostres jornades de seguretat informàtica, que se celebraran del 24 al 31 de gener."</p>
</div>




<p>L’evolució de la <abbr title="Intel·ligència artificial">IA</abbr> ha transformat profundament el camp de la ciberseguretat, tant pel que fa a la protecció de sistemes com a l’amenaça creixent que representa en mans de ciberdelinqüents.</p>

<p>Malgrat en la cultura popular els atacs cibernètics es solen associar al <em>hacker solitari</em> representat per la màscara d'anonymous, els atacs poden ser motivats per diners, espionatge, activisme epl que els duen a terme des de persones individuals fins a grans corporacions i governs.</p>


<figure class="mx-auto">
  <img src="/src/assets/images/httpswww.pexels.comphotowoman-in-black-hoodie-holding-a-bank-card-5380665.jpg" alt="Imatge de l'estereotip d'un hacker" width="1280" height="853" class="w-full max-w-screen-sm">
  <figcaption class="font-base text-center">Imatge de l'estereotip del hacker solitari</figcaption>
</figure>


<h3 class="h3-fontsize-responsive">Ciberseguretat2025</h3>
<p class="mx-auto">Les jornades es duran a terme entre els dies <time datetime="2025-01-24">24</time> i <time datetime="2025-01-31">31 de gener de 2025</time>. Les conferències presencials es faran al Palau de Congressos de Girona i aquesta plataforma emetrà tots els esdeveniments. Un cop acabada cada ponència s'habilitarà una ronda de preguntes i/o una taula rodona</p>

<p>
  Aquest esdeveniment ha de servir per actualitzar els coneixements sobre de la seguretat informàtica en un món on la<abbr title="Intel·ligència artificial">IA</abbr> guanya pes cada dia. Es comptarà amb ponències d'exprets de companyies centrades en el desenvolupament dels sistemes de ciberseguretat així com amb empreses líders del sector, tant a nivell nacional com internacional.
  Aquest esdeveniment va adreçat tant a estudiants com professionals interessats en la ciberseguretat i és l'espai perfecte per descobrir noves oportunitats de negoci, explorar les principals novetats tecnològiques i analitzar les tendències de futur de la ciberseguretat.
</p>


<figure>
  <img src="/src/assets/images/httpswww.pexels.comphotogroup-of-people-sitting-on-sofa-while-discussing-2962135.jpg" width="1280" height="719" alt="Imatge d'una taula rodona">
  <figcaption class=" font-base text-center">Imatge de mostra d'una taula rodona</figcaption>
</figure>


<p>En un món cada vegada més connectat, on les amenaces digitals evolucionen a gran velocitat, és essencial entendre el paper de la <abbr title="Intel·ligència artificial">IA</abbr> en la ciberseguretat i la lluita contra el cibercrim. Per aprofundir en aquests temes i aprendre de professionals experts, us convidem a assistir a les nostres jornades de ciberseguretat, on podreu adquirir coneixements clau per protegir-vos i estar al dia en un entorn digital cada cop més complex.</p>