<footer class="bg-black p-12">

  <div class="flex flex-col gap-4 justify-between max-w-screen-lg m-auto md:flex-row">

  <a class="text-center" href="/"><span class="text-white border-b-2">CIBER</span><span class="text-green-console border-b-2">.IA</span></a>
  
    
  <nav>
    <ul class="flex gap-3 text-green-console font-mono justify-center items-center flex-col sm:flex-row">
      <li>
        <a href="#">Ponents</a>
      </li>
      <li>
        <a href="/src/pagina2.html">Ciberseguretat2025</a>
      </li>
      <li>
        <a href="#">Inscripció</a>
      </li>
    </ul>
  </nav>

  <ul class="flex gap-4 text-green-console justify-center"> 
    <li><a href="http://twitter.com"><i class="fa-brands fa-x-twitter"></i></a></li>
    <li><a href="http://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
  </ul> 

</div>

</footer>
