<header class="w-full px-9 py-4 bg-black">

  <nav class="max-w-screen-lg m-auto font-code">
    <div class="flex justify-between items-center">
      
      <a class="font-base" href="/"><span class="border-b-2 text-white">CIBER</span><span class="border-b-2 text-green-console">.IA</span></a>

      <div role="button" class="block text-green-console text-2xl sm:hidden"><i class="fa-solid fa-bars"></i></div>

      <div class="hidden p-2 sm:block">
        <ul class="flex gap-3 font-bold text-green-console">
          <li><a href="#">Ponents</a></li>
          <li><a href="/src/pagina2.html">Ciberseguretat2025</a></li>
          <li><a href="#">Inscripció</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- 
      <button class="navbar-toggler navbar-toggler_button navbar--mobile" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars nav__icon nav__icon--color"></i>
      </button>

      <div class="offcanvas offcanvas-end side-menu" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Ciberseguretat 2025</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Portada</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="#">Ponents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="#">Ciberseguretat2025</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav__link" href="#">Inscripció</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> -->

</header>