<div class="flex flex-wrap justify-center gap-12 my-8">
        
    <div class="card">
      <img src="/src/assets/images/6pexels-olly-3824771.jpg" alt="" class="absolute w-full h-full object-cover">
      <div class="font-base text-white relative z-10 bg-custom-gradient p-4"><span>"Criptografia quàntica: el futur de la
          protecció de dades"</span></div>
      <a href="#" class="button">Inscriu-t'hi!</a>
    </div>
  
    <div class="card">
      <img src="/src/assets/images/3pexels-buro-millennial-636760-1438081.jpg" alt=""
        class="absolute w-full h-full object-cover">
      <div class="font-base text-white relative z-10 bg-custom-gradient p-4"><span>"Desmuntant defenses: com els hackers
          pensen i actuen"</span></div>
      <a href="#" class="button">Inscriu-t'hi!</a>
    </div>
  
    <div class="card">
      <img src="/src/assets/images/4pexels-karolina-grabowska-4467687.jpg" alt=""
        class="absolute w-full h-full object-cover">
      <div class="font-base text-white relative z-10 bg-custom-gradient p-4"><span>"La revolució de l’IA en la detecció
          d'amenaces cibernètiques"</span></div>
      <a href="#" class="button">Inscriu-t'hi!</a>
    </div>
  
    <div class="card">
      <div class="font-base text-white relative z-10 bg-custom-gradient p-4"><span>"La ment del hacker: com es manipulen
          les persones per accedir a dades crítiques"</span></div>
      <a href="#" class="button">Inscriu-t'hi!</a>
    </div>
  
  
    <div class="card">
      <img src="/src/assets/images/2pexels-emmy-e-1252107-2381069.jpg" alt="" class="absolute w-full h-full object-cover">
      <div class="font-base text-white relative z-10 bg-custom-gradient p-4"><span>"El dilema de la privacitat: tecnologia
          vs regulació"</span></div>
      <a href="#" class="button">Inscriu-t'hi!</a>
    </div>
  </div>